<h2 class="footer-title">
   О компании Окунькова Семена Михайловича
</h2>
<article class="gallery">
    <a href="https://watchshop.kz/collection/momentum-610edb/product/chasy-dlya-sporta-momentum-flatline-field-1m-sp18bs7s-nato-sapfir"
       class="gallery__item">
        <img src="../../assets/gallery_photo/watch-1.jpg">
        <h4>Ouster</h4>
        <span>800$</span>
    </a>
    <a href="https://watches-master.com/watches/ulysse-nardin/maxi-marine-chronograph/maxi-marine-chronograph-356-66-3-319_9100"
       class="gallery__item">
        <img src="../../assets/gallery_photo/watch-2.jpg">
        <h4>Miles</h4>
        <span>7500$</span>
    </a>
    <a href="https://www.patek.com/ru/коллекции/новинки-2018?utm_source=yandex&utm_medium=cpc&utm_campaign=Patek_Philippe_Russia_SEM_2018&utm_content=ch_yandex_direct|cid_33048594|gid_3201083147|ad_5416940860|ph_12455776279|crt_0|pst_premium|ps_1|srct_search|src_none|devt_desktop|ret_|geo_11167|cf_0|int_|tgt_12455776279|add_no|mrlid_12380|dop_&utm_term=patek%20philippe"
       class="gallery__item">
        <img src="../../assets/gallery_photo/watch-3.jpg">
        <h4>Pathek Phillipe</h4>
        <span>10200$</span>
    </a>
</article>
<p class="brief" [ngClass]="{brief_target:isBriefButtonActive}" id="brief">
  Вот уже более века часы Rolex сопровождают целеустремленных
  исследователей во всех уголках планеты – от высочайших горных
  вершин до океанских глубин. Сегодня при содействии Rolex проходят
  самые престижные соревнования в таких дисциплинах, как гольф, парусный спорт,
  теннис, автомотоспорт, турниры по конкуру. Rolex вносит уникальный и действенный
  вклад в мировую культуру, науку и исследования.
</p>
<button class="show-all button_main-theme-styled" (click)="showMore()">Показать все</button>
<article class="contact-us">
    <a href="https://twitter.com" class="footer__contacts link_main-theme-styled">Twitter</a>
    <a href="https://www.facebook.com" class="footer__contacts link_main-theme-styled">Facebook</a>
    <a href="https://vk.com" class="footer__contacts link_main-theme-styled">Vk</a>
    <a href="https://ok.ru" class="footer__contacts link_main-theme-styled">Ok</a>
    <a href="https://www.instagram.com/" class="footer__contacts link_main-theme-styled">Instagram</a>
    <a href="https://plus.google.com" class="footer__contacts link_main-theme-styled">Google+</a>
    <a href="https://www.snapchat.com" class="footer__contacts link_main-theme-styled">Snapchat</a>
</article>
